<h3 class="title"><%= l(:label_email_to_contacts) %></h3>

<%= form_tag(issue_send_email_to_contacts_path, remote: true, id: 'email-to-contacts-form') do %>
  <% email_enabled = ActionMailer::Base.perform_deliveries %>
  <% if email_enabled %>
    <% if issue.present? %>
      <%= hidden_field_tag 'object_type', issue.class.name.underscore %>
      <%= hidden_field_tag 'object_id', issue.id %>
    <% end %>
    <%= hidden_field_tag 'project_id', @project.id if @project %>

    <ul id="issue_contacts" class="contacts">
      <% contacts.order_by_name.visible.each do |contact| %>
        <li>
          <% name_with_email = "#{contact.name}" %>
          <% name_with_email += " (#{contact.email})" unless contact.email.empty? %>
          <% has_email = !contact.email.empty? %>
          <%= content_tag 'label', check_box_tag('contact_ids[]', contact.id, has_email, id: nil, disabled: !has_email) + name_with_email %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="nodata">
      <%= simple_format(l(:text_email_delivery_not_configured)) %>
    </div>
  <% end %>

  <p class="buttons">
    <%= submit_tag l(:button_send), :name => nil, :id => 'submit-email-to-contacts-form', :onclick => "hideModal(this);", :disabled => !email_enabled %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
<% end %>
